/home/rasa/chanserv/build
build
/home/rasa/chanserv/listchecker/build/
/home/rasa/snap/
/home/rasa/qtcreator-14.0.2/
/home/rasa/.config/
/home/rasa/.local/
/home/rasa/.dbus/
/home/rasa/.gnupg/
/home/rasa/.vim/
/home/rasa/logs/
/home/rasa/.designer/
/home/rasa/.landscape/
/home/rasa/.npm/
/home/rasa/logs.docker/
/home/rasa/.cache/
/home/rasa/.docker/   
/home/rasa/.ssh/
/home/ubuntu
